/*
!/.config/
/.config/*
!/.config/alacritty/
!/.config/bspwm/
!/.config/sxhkd/
!/.config/polybar/
!/.config/rofi/
!/.config/picom/
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/twmn
!/.config/battery

!/.vscode/
/.vscode/*
!/.vscode/extensions/
/.vscode/extensions/*
!/.vscode/extensions/Rapture/
!/.vscode/settings.json

!/.themes/
/.themes/*
!/.themes/theme.zip


!/.rofi/
!/.mpdconf
!/.ncmpcpp/
/.ncmpcpp/*
!/.ncmpcpp/config
!/.nautilus-terminal
!/.tty1
!/.xinitrc
!/.profile
!/.gitignore
